body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 1em;
	font-weight: 200;
	color: #323232;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.background {
	width: 120%;
	height: 120%;
	position: fixed;
	top: -10%;
	left: -10%;
	-webkit-filter: blur(100px);
	z-index: -1;
	pointer-events: none;
	.background-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.background-scrim {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.stage {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.overture {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 16px;
	li {
		width: 80px;
		height: 80px;
		margin: 20px;
		position: relative;
		-webkit-user-select: none;
		img {
			width: 80px;
			height: 80px;
			border-radius: 40px;
			object-fit: cover;
			-webkit-filter: blur(20px);
			transition: 0.25s;
			pointer-events: none;
			-webkit-user-select: none;
		}
		.title {
			position: absolute;
			top: 0;
			left: 0;
			width: 80px;
			height: 80px;
			text-align: center;
			line-height: 80px;
			font-family: 'Seravek';
			font-style: italic;
			font-weight: 200;
			font-size: 1.25em;
			color: rgba(255, 255, 255, 0.25);
			transition: 1s;
			pointer-events: none;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-user-select: none;
		}
	}
	li:active img {
		-webkit-filter: blur(0);
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.125), 0 16px 32px 0 rgba(0, 0, 0, 0.25);
	}
	li:active .title {
		opacity: 0;
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	li {
		width: 180px;
		height: 200px;
		transition: 0.25s;
		img {
			width: 160px;
			height: 160px;
			margin: 10px 10px 0 10px;
			border-radius: 3px;
			box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.125), 0 2px 4px 0 rgba(0, 0, 0, 0.25);
			transition: 0.25s;
			object-fit: cover;
		}
		.title {
			height: 20px;
			line-height: 20px;
			margin: 0 auto auto 10px;
			font-size: 0.75em;
			font-weight: 400;
			color: rgba(0, 0, 0, 0.5);
			transition: 0.5s;
		}
	}
	li:active img {
		width: 172px;
		height: 172px;
		margin: 4px 4px 0 4px;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.125), 0 16px 32px 0 rgba(0, 0, 0, 0.25);
	}
	li:active .title {
		color: rgba(255, 255, 255, 0.5);
	}
}

.darkroom {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		max-width: 90%;
		max-height: 90%;
		border-radius: 3px;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.125), 0 16px 32px 0 rgba(0, 0, 0, 0.25);
	}
	.actions {
		position: fixed;
		width: 50%;
		height: 30px;
		bottom: 60px;
		left: 25%;
		display: flex;
		justify-content: space-around;
		li {
			opacity: 0.5;
			height: 30px;
			width: 30px;
			div {
				margin: 3px;
				-webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
			}
		}
	}
}

.tail {
	width: 100%;
	height: 46px;
	.find-me {
		margin: 7px auto;
		width: 160px;
		height: 30px;
		line-height: 30px;
		border-radius: 16px;
		text-align: center;
		border: 1px solid rgba(0, 0, 0, 0.5);
		color: rgba(0, 0, 0, 0.5);
		font-size: 0.875em;
		font-weight: 400;
		cursor: pointer;
	}
}

.apply-group {
	background: linear-gradient(#f0f0f0 0, #fff 320px);
	border: 1px solid #fff;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
	border-radius: 6px;
	overflow: hidden;
	margin: 16px;
	padding: 8px;
	h2 {
		padding: 0 8px 8px 8px;
		line-height: 1.5em;
		font-size: 1.25em;
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		font-weight: 400;
		color: #323232;
		margin: 0;
	}
	.one-selection {
		height: 44px;
		line-height: 44px;
		padding: 0 8px;
		.radio {
			width: 8px;
			height: 8px;
			margin: 16px 8px 16px 0;
			float: left;
			border-radius: 8px;
			transition: 0.3s;
		}
		.checked {
			-webkit-filter: none;
			background-color: #646464;
			border: 2px solid #fff;
			box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
		}
		.unchecked {
			-webkit-filter: blur(2.5px);
			background-color: #fff;
			border: 2px solid #323232;
			opacity: 0.25;
		}
		.label {
			float: left;
		}
	}
	p {
		text-indent: 1em;
		line-height: 1.5;
		word-wrap: break-word;
	}
	code {
		display: block;
		margin: 8px;
		padding: 4px;
		height: 30px;
		line-height: 30px;
		font-size: 16px;
		text-align: center;
		border-radius: 3px;
		background-color: rgb(38, 50, 56);
		font-weight: 600;
		font-family: monospace;
		color: rgb(195, 232, 141);
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 4px rgba(0, 0, 0, 0.24);
		box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.12), inset 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
	}
	.btn {
		display: block;
		margin: 8px 0 0 0;
		height: 30px;
		line-height: 30px;
		border-radius: 3px;
		text-align: center;
		border: 1px solid rgba(0, 0, 0, 0.12);
		color: rgba(0, 0, 0, 0.5);
		font-size: 0.875em;
		font-weight: 400;
		cursor: pointer;
	}
}

.ghost {
	opacity: 0.125 !important;
}

.blurred {
	-webkit-filter: blur(10px);
}

.lights-on {
	background-color: rgba(255, 255, 255, 0.75);
}

.lights-off {
	background-color: transparent;
}

.icon-home {
	background-image: url(./img/icon_home.svg);
	background-repeat: no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}

.icon-close {
	background-image: url(./img/icon_close.svg);
	background-repeat: no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}

.icon-arrow-right {
	background-image: url(./img/icon_arrow.svg);
	background-repeat: no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	transform: rotate(-90deg);
}

.icon-arrow-left {
	background-image: url(./img/icon_arrow.svg);
	background-repeat: no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	transform: rotate(90deg);
}

.icon-back {
	background-image: url(./img/icon_back.svg);
	background-repeat: no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .25s
}

.fade-enter,
.fade-leave-active {
	opacity: 0
}